.add-photo {
  > div {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
}

.crop {
  position: relative;
  height: 400px;
  background-color: gray;
}

.crop-container {
  margin-top: 15px;
}
