button {
  cursor: pointer;
}
.language-btn {
  height: 35px;
  border: none;
  margin: 0 5px;
  > img {
    height: 100%;
    width: 60px;
  }
}
.add-photo-btn {
  min-width: 120px;
  font-size: 20px;
  height: 40px;
}
.input-nav > div > form {
  button {
    background-color: $secondary;
    outline: none;
    font-size: 23px;
    height: 30px;
    width: 100px;
    margin: 15px 0;
    color: $font;
    border-radius: 10px;
  }
  button:hover {
    background-color: lighten($secondary, 10);
  }
}
.display-skills,
.display-education,
.display-experience {
  > div {
    > button {
      background-color: transparent;
      border: none;
      color: white;
    }
  }
}
.btn-print {
  height: 30px;
  width: 100px;
}
