$primary: white;
/* $primary: #141f39; */
$secondary: #3983fa;
$font: black;
:root {
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
@import "./styles/buttons";
@import "./styles/addPhoto";
body {
  background-color: #f1f1f1;
}
textarea {
  resize: none;
}
.all {
  display: grid;
  grid: 1fr / 50% 50%;
  margin: 0 auto;
  width: 1000px;
  gap: 15px;
}
.input-nav {
  width: 500px;
  color: $font;
  background-color: $primary;
}
p {
  width: 300px;
  word-wrap: break-word;
}
.input-nav > div > form {
  margin: 15px;
  font-size: 20px;
  div {
    display: flex;
    flex-direction: column;
    > label {
      color: grey;
      margin: 20px 0 10px 0;
      font-size: 0.9rem;
    }
    > input {
      width: 100%;
      font-size: 20px;
      outline: none;
      border: none;
      border-bottom: 1px grey solid;
      position: relative;
      padding-bottom: 5px;
    }
  }
}

.display-skills,
.display-education,
.display-experience {
  display: grid;
  gap: 15px;
  grid: auto / 1fr 1fr;
  div {
    background-color: $secondary;
  }
}

.top-nav {
  background-color: rgb(133, 1, 1);
}

.resume-container {
  width: 805px;
  height: 1137px;
  transform-origin: top left;
  transform: scale(0.6);
}

.display-image {
  width: 250px;
  height: 250px;
  margin-left: 15px;
}
