$primary: rgb(66, 66, 66);
$secondary: rgb(148, 0, 0);
$font: white;
$bcg: white;
:root {
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
@import "./styles/buttons";
@import "./styles/addPhoto";
@import "./styles/topNav";

@mixin longDisplayFlex {
  background-color: $secondary;
  display: flex;
  word-break: break-all;
  justify-content: space-between;
  padding: 5px 10px 5px 5px;
  border-radius: 5px;
}

body {
  background-color: $primary;
}
textarea {
  resize: none;
}
.all {
  display: grid;
  grid: 1fr / 50% 50%;
  margin: 0 auto;
  width: 1000px;
}
.input-nav {
  width: 450px;
  color: $font;
  background-color: $bcg;
}
p {
  width: 300px;
  word-wrap: break-word;
}
.input-nav > div > form {
  margin: 5px 15px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    width: 90%;
    display: flex;
    flex-direction: column;
    > label {
      color: grey;
      margin: 20px 0 10px 0;
      font-size: 0.9rem;
    }
    > input {
      width: 100%;
      font-size: 20px;
      outline: none;
      border: none;
      border-bottom: 1px grey solid;
      position: relative;
      padding-bottom: 5px;
    }
  }
}

.display-skills {
  display: grid;
  gap: 10px;
  grid: auto / 1fr 1fr;
  margin: 0 15px;
  > div {
    @include longDisplayFlex;
  }
}
.display-education,
.display-experience {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 15px;
  > div {
    @include longDisplayFlex;
    > div {
      margin: 5px;
      > * {
        margin: 5px;
      }
    }
  }
}

.resume-container {
  position: fixed;
  width: 805px;
  height: 1137px;
  transform-origin: top left;
  transform: scale(0.6);
  overflow: auto;
  right: -200px;
}
.resume-container::-webkit-scrollbar {
  display: none;
}
.resume-container::after {
  position: absolute;
  content: "";
  width: 100%;
  transform: translateY(50%);
  height: 2px;
  top: 100%;
  background-color: black;
}

.display-image {
  width: 250px;
  height: 250px;
  margin-left: 15px;
}
