* {
  margin: 0;
  padding: 0;
}
.all {
  background-color: antiquewhite;
  display: flex;
}
.input-nav {
  background-color: aqua;
  width: 25%;
}
.resume {
  background-color: gray;
  width: 700px;
  height: 987px;
  /* width: 805px;
  height: 1135px; */
}
p {
  width: 300px;
  word-wrap: break-word;
}
