$primary: #141f39;
$secondary: #3983fa;
* {
  margin: 0;
  padding: 0;
}
textarea {
  resize: none;
}
.all {
  background-color: antiquewhite;
  display: grid;
  grid: 1fr / 1fr 700px;
  gap: 15px;
}
.input-nav {
  max-width: 400px;
  color: white;
  background-color: $primary;
}
.resume {
  background-color: gray;
  width: 100%;
  height: 987px;
  /* width: 805px;
  height: 1135px; */
}
p {
  width: 300px;
  word-wrap: break-word;
}
.input-nav > div > form {
  margin: 15px;
  font-size: 22px;
  div {
    display: flex;
    flex-direction: column;
    label {
      width: 30%;
    }
    input {
      width: 100%;
      font-size: 22px;
    }
  }
  button {
    background-color: $secondary;
    outline: none;
    font-size: 23px;
    height: 30px;
    width: 100px;
    border: none;
    margin: 15px 0;
  }
}
