:root {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.language-btn {
  height: 35px;
  border: none;
  margin: 0 5px;
}

.language-btn > img {
  height: 100%;
  width: 60px;
}

.add-photo-btn {
  min-width: 120px;
  font-size: 20px;
  height: 40px;
}

.input-nav > div > form button {
  background-color: #940000;
  outline: none;
  font-size: 23px;
  height: 30px;
  width: 100px;
  margin: 15px 0;
  color: white;
  border-radius: 10px;
}

.input-nav > div > form button:hover {
  background-color: #c70000;
}

.display-skills > div > button,
.display-education > div > button,
.display-experience > div > button {
  background-color: transparent;
  border: none;
  color: white;
}

.btn-print {
  height: 30px;
  width: 100px;
}

.add-photo > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
}

.crop {
  position: relative;
  height: 400px;
  background-color: gray;
}

.crop-container {
  margin-top: 15px;
}

.top-nav {
  background-color: #940000;
  padding: 5px 0;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav > div {
  margin: 0 10px;
}

body {
  background-color: #424242;
}

textarea {
  resize: none;
}

.all {
  display: -ms-grid;
  display: grid;
  grid: 1fr / 50% 50%;
  margin: 0 auto;
  width: 1000px;
}

.input-nav {
  width: 450px;
  color: white;
  background-color: white;
}

p {
  width: 300px;
  word-wrap: break-word;
}

.input-nav > div > form {
  margin: 5px 15px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-nav > div > form div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-nav > div > form div > label {
  color: grey;
  margin: 20px 0 10px 0;
  font-size: 0.9rem;
}

.input-nav > div > form div > input {
  width: 100%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 1px grey solid;
  position: relative;
  padding-bottom: 5px;
}

.display-skills {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  grid: auto / 1fr 1fr;
  margin: 0 15px;
}

.display-skills > div {
  background-color: #940000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-break: break-all;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px 5px 5px;
  border-radius: 5px;
}

.display-education,
.display-experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 10px 15px;
}

.display-education > div,
.display-experience > div {
  background-color: #940000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-break: break-all;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px 5px 5px;
  border-radius: 5px;
}

.display-education > div > div,
.display-experience > div > div {
  margin: 5px;
}

.display-education > div > div > *,
.display-experience > div > div > * {
  margin: 5px;
}

.resume-container {
  position: fixed;
  width: 805px;
  height: 1137px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  overflow: auto;
  right: -200px;
}

.resume-container::-webkit-scrollbar {
  display: none;
}

.resume-container::after {
  position: absolute;
  content: "";
  width: 100%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  height: 2px;
  top: 100%;
  background-color: black;
}

.display-image {
  width: 250px;
  height: 250px;
  margin-left: 15px;
}
/*# sourceMappingURL=index.css.map */